$background-color-theme1:#181b44;
$background-color-theme2:#f9f0ea;

$background-color-theme1-2ndbg:#242962;
$background-color-theme2-2ndbg:#ffd8cc;

$background-color-theme1-3rdbg:#1e2253;
$background-color-theme2-3rdbg:#FFBAA6;

$theme1-font-color:#ffffff;
$theme2-font-color:#9d9d9d;

$theme1-font-hover-color:#b4e1f8;
$theme2-font-hover-color:#ffffff;

$theme1-swicher-hover-color:#181b44;
$theme2-swicher-hover-color:#FFBAA6;

$theme1-btn-border:1px solid #ffffff;
$theme2-btn-border:1px solid #FFBAA6;

$theme1-btn-font-color:#ffffff;
$theme2-btn-font-color:#FFBAA6;

$theme1-btn-hover-font-color:#181b44;
$theme2-btn-hover-font-color:#ffffff;

$theme1-btn-hover-bg:#ffffff;
$theme2-btn-hover-bg:#FFBAA6;

$theme1-block-line:1px solid #5b5e89;
$theme2-block-line:1px solid #f9f0ea;


$transition-all:all .3s;